.containerPagination {
  margin: 7px auto;
  display: flex;
  flex-direction: row;
  justify-self: unset;
  align-items: center;
}
.containerPagination button {
  background-color: #e0e0cafa;
  border: none;
  outline: none;
  padding-top: 2px;
  width: 38px;
  height: 36px;
  margin: 0 5px;
}
.containerPagination button:hover {
  background-color: #ffff01;
}
.containerPagination input {
  width: 30px;
  height: 32px;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  text-align: center;
  color: white;
  background-color: var(--colorBlack);
  outline: none;
  border: none;

  padding-left: 8px;
}
.containerPagination p {
  width: 47px;
  height: 30px;
  font-weight: 540;
  display: flex;
  align-items: flex-end;
  font-size: 19px;
  padding-left: 3px;

  color: rgb(23, 25, 32);
  font-weight: 600;
}
